//-----------------------------------
//   Modals
//-----------------------------------

.modal {
	.modal-dialog {
		margin-top: 50px;
		.modal-content {
			position: relative;
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 30px;
			.btn-close {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 30px;
				height: 30px;
				border: none;
				cursor: pointer;
				outline: none !important;
				box-shadow: none !important;
				background: svg-load('../../images/svg/close.svg', fill=#111) no-repeat center transparent;
				background-size: 22px;
				opacity: 1;
				transition: .2s ease;
				&:hover {
					background-image: svg-load('../../images/svg/close.svg', fill=$c-primary);
				}
			}
			.modal-title {
				margin-bottom: 10px;
				text-align: center;
				h4 {
					font-size: 28px;
					line-height: 32px;
				}
				p {
					font-size: 18px;
					line-height: 24px;
					margin-top: 5px;
					opacity: .5;
				}
			}
		}
	}
	&#modalSuccess {
		.modal-content {
			padding-top: 60px;
			padding-bottom: 60px;
			text-align: center;
			.modal-title { 
				margin-bottom: 0;
				h4 {
					font-size: 32px;
					line-height: 38px;
				}
				p {
					font-size: 20px;
					line-height: 28px;
				}
			}
		}
	}
}


