
@media only screen and (max-width: 1400px ) {

}

@media only screen and (max-width: 1200px ) {

}

@media only screen and (max-width: 992px ) {

}

@media only screen and (max-width: 768px ) {

}

@media only screen and (max-width: 576px ) {

}