/* Baron scroll bar */
.baron__clipper {
    position: relative;
    overflow: hidden;
}
.baron__clipper .scroller {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    /* remove line to customize scrollbar in iOs */
}
.baron__clipper .scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scroller__track {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.baron__clipper._scrollbar .scroller__track {
    display: block;
}
.scroller__free {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.scroller__bar {
    display: none;
    position: absolute;
    right: 0;    
    z-index: 1;
    width: 4px;
    background: #e1e1e1;
    border-radius: 4px;
}
.baron__clipper._scrollbar .scroller__bar {
    display: block;
}
.scroller__control {
    display: none;
}
